<div class='person'>
    <span class='name'>{{name}}:</span>
    <span class='target'>{{target_place}}</span> 
    <div class='impression'>{{impression}}</div>
    <div class='date_container'>
        <span class='date'>{{date}}</span> 
    </div>
</div>